.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
  border: 2px solid black;
}

.registration {
  display: flex;
  flex-direction: column;
  width: 1140px;
  height: 600px;
  // background: #ae42f68d;
}

.bloc-tabs {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  height: 35px;
  cursor: pointer;
  background: white;
  outline: none;
}

.active-tabs {
  background: #fff;
  color: rgb(57, 50, 50);
  border: 2px solid rgb(88, 147, 241);
  border-bottom: 1px solid transparent;
}

button {
  border: 1px solid rgba(0, 0, 0, 0.274);
  font-size: 24px;
  color: grey;
  width: 250px;
}

.content-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: 500px;
  width: 100%;
  // border: 1px solid rgba(0, 0, 0, 0.274);
}
