* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Nunito', Roboto, system-ui, Tahoma, sans-serif;
}

html {
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
  font-size: 100%;
  @media only screen and (max-width: 1375px) {
    font-size: 13px;
  }
  @media only screen and (max-width: 1250px) {
    font-size: 12px;
  }
  @media only screen and (max-width: 1125px) {
    font-size: 11px;
  }
  @media only screen and (max-width: 1040px) {
    font-size: 11px;
  }
  @media only screen and (max-width: 600px) {
    font-size: 10px;
  }
  @media only screen and (max-width: 480px) {
    font-size: 9px;
  }
}

body {
  background-color: #fff;
  height: 100%;
  width: 100%;
}
#root {
  height: 100%;
  width: 100%;
}
